<a href="https://colab.research.google.com/github/WilliamDietz/hello-world/blob/master/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# import pandas library
import pandas as pd

# mount the drive to access the file
from google.colab import drive
drive.mount('/content/drive')

# read the csv file into a pandas dataframe
medals = pd.read_csv('/content/drive/MyDrive/olympic_medals.csv')

# a) Find the size of the data frame. How many rows, how many columns?
print('size of the data frame. How many rows, how many columns')
print("The dataset has", medals.shape[0], "rows and", medals.shape[1], "columns.")
print()
print('data types for all columns')
# b) Use the appropriate function to report the data types for all columns.
print(medals.dtypes)
print()

print('unique cities matches were held')
# c) Find how many unique cities matches were held at.
print("There were", len(medals['Location'].unique()), "unique cities matches were held at.")
print()

print('medals the USA team won in total')
# d) Find how many medals the USA team won in total.
usa_medals = medals.loc[medals['Nationality'] == 'USA', 'Medal'].count()
print("The USA team won", usa_medals, "medals in total.")
print()
print('total number of medals for each Nationality')
# e) Find the total number of medals for each Nationality.
medals_by_nationality = medals.groupby(by='Nationality')['Medal'].count()
print(medals_by_nationality)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
size of the data frame. How many rows, how many columns
The dataset has 2394 rows and 8 columns.

data types for all columns
Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

unique cities matches were held
There were 23 unique cities matches were held at.

medals the USA team won in total
The USA team won 638 medals in total.

total number of medals for each Nationality
Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64